<div class="t-rating__interactive">
    <tui-svg
        *tuiRepeatTimes="let index of max"
        class="t-rating__icon-filled"
        [src]="iconFilled"
        (click)="setRateByIndex(index)"
    ></tui-svg>
</div>

<div class="t-rating__wrapper" [style.width.%]="value | ratingPercent: max">
    <tui-svg
        *tuiRepeatTimes="let index of max"
        class="t-rating__icon-filled"
        [src]="iconFilled"
    ></tui-svg>
</div>

<tui-svg
    *tuiRepeatTimes="let item of max"
    class="t-rating__icon-normal"
    [src]="iconNormal"
></tui-svg>

<input
    type="range"
    step="1"
    class="t-rating__input"
    [max]="max"
    [ngModel]="value"
    [tuiFocusable]="isFocusable"
    (ngModelChange)="setRate($event)"
/>
